<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EEG_Faktura_Sepa_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <EEG_Faktura_Sepa_Tool.Properties.Settings>
            <setting name="BIC" serializeAs="String">
                <value>RZxxATxxxxx</value>
            </setting>
            <setting name="CreditorId" serializeAs="String">
                <value>AT74ZZZ00000000000</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Name der EEG laut Vereinsregister</value>
            </setting>
            <setting name="IBAN" serializeAs="String">
                <value>AT000000000000000000</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>EUR</value>
            </setting>
            <setting name="Country" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="AdresseZeile1" serializeAs="String">
                <value>Musterstraße 1</value>
            </setting>
            <setting name="AdresseZeile2" serializeAs="String">
                <value>1234 Musterhausen</value>
            </setting>
            <setting name="FixesLastschriftMandat" serializeAs="String">
                <value />
            </setting>
            <setting name="BelegeZusammenfassen" serializeAs="String">
                <value>True</value>
            </setting>
        </EEG_Faktura_Sepa_Tool.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>